body {
  background-image: url('IMAG0064_light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-image: url('defltBckgrnd.jpg');
  padding-bottom: 10px;
}

h1 {
  font-family: 'Coustard', serif;
}

#field1,
#field2,
#field3,
#field4,
#field5,
#humid1,
#humid2,
#humid3,
#humid4,
#humid5 {
  font-size: 75%;
  text-align: center;
}

tr {
  background-color: white;
}

tr {
  background-color: rgb(240, 255, 254)
}

.forecastCont {
  margin-bottom: 30px;
}

#btnContent {
  margin-right: 10px;
}

.searchbtn {
  width: 190px;
  margin-bottom: -10px;
}

#searchCity {
  margin-bottom: 10px;
}